@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&family=Nunito+Sans:ital,wght@0,300;0,400;0,700;1,400;1,700&display=swap');

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --white: #eee;
  --black: #111;
  --orange: #ff6600;
  --gray: #ccc;
  --background: var(--white);
  --padding: 8px;
  --padding-s: calc(var(--padding) / 2);
  --padding-xs: calc(var(--padding) / 4);
  --padding-l: calc(var(--padding) * 2);
  --padding-x: calc(var(--padding) * 3);
  --padding-xl: calc(var(--padding) * 4);
  --padding-xxl: calc(var(--padding) * 6);
  --foreground-text: var(--black);
  --primary: var(--orange);
  --font: 'Nunito Sans', sans-serif;
  --font-mono: 'JetBrains Mono', monospace;
  --row: calc(var(--padding) * 18.75);
  --visited: #999;
}

@media (prefers-color-scheme: dark) {
  :root {
    --gray: #222;
    --background: var(--black);
    --foreground: var(--white);
    --visited: #555;
  }
}

body {
  font-family: var(--font);
  background: var(--primary);
  color: var(--foreground);
  font-size: var(--padding-l);
}